= semantic_form_for [@event, @training] do |f|
  = f.inputs do
    = f.input :name
    = f.input :map_link, :as => :url, :hint => "Copy from Google Maps"
    = f.input :location, :input_html => {:rows => 6}
    = f.input :instructions
  = f.inputs :start_time, :end_time, :description, :for => :shift, :name => "Shift Details"

  = f.actions do
    = f.action(:submit)
