%h1
  Trainings for
  = link_to_record @event

%table
  %tr
    %th= sortable_header 'shifts.name'
    %th= sortable_header 'shifts.start_time', 'Date'
    %th= sortable_header 'location'
    %th
    %th

  - @trainings.each do |training|
    %tr
      %td= link_to_record training
      %td= l training.shift.start_time.to_date, format: :short
      %td.text-attribute= training.location
      %td
        - if training.map_link.present?
          = link_to 'Map', training.map_link
      %td= link_to 'Shift', training.shift

- if policy(Training.new).create?
  %br
  = render 'shifts/template_picker'
