%p
  %b Name:
  = @training.name
%p
  %b Training season:
  = link_to_record @training.training_season
%p
  %b Shift:
  = link_to_record @training.shift
%p
  %b Start time:
  = l @training.shift.start_time
%p
  %b End time:
  = l @training.shift.end_time
%p
  %b Location:
  - if @training.map_link.present?
    = link_to 'Map', @training.map_link
    %br
  %span.text-attribute= @training.location
%p
  %b Instructions:
  %span.text-attribute= @training.instructions
%p
  %b Slots:
  %table
    - @training.shift.slots.each do |slot|
      - if policy(slot).show?
        %tr
          %td= link_to slot.position.name, slot
          %td= "#{slot.involvements.count} signed up"
          %td= "(#{slot.max_people} max)"
          %td= slot_meter_tag slot
          %td
            - involvement_for_event_person(@event, person_me).try do |inv|
              - if attendee = inv.attendees.where(slot_id: slot).first
                Your attendance: #{attendee.status}
                - if @event.signup_open? and @training.shift.start_time.future?
                  = semantic_form_for [@event, attendee], method: :delete, html: {style: 'display: inline-block'} do |f|
                    = f.actions do
                      = f.submit 'Leave'
              - elsif @event.signup_open? and !slot.full? and slot.position_id.in? person_me.position_ids
                - attendee = inv.attendees.build
                = semantic_form_for [@event, slot, attendee] do |f|
                  = f.inputs do
                    = f.input :involvement_id, as: :hidden
                  = f.actions do
                    = f.submit 'Join'

- if @training.arts.any?
  %p
    %b Available ARTs:
    = @training.arts.to_sentence
