- events.each do |event|
  - involvement = @involvements_by_event[event.id]
  .schedule-event
    %h3
      = link_to_record event
      involvement status:
      - if involvement
        = link_to involvement.involvement_status.titleize, involvement
        - if event.signup_open?
          \|
          = link_to 'Edit schedule', schedule_event_involvement_path(event, involvement)
      - else
        = link_to 'Get involved!', new_event_involvement_path(event, :person_id => @person.id)
    %p.text-attribute<= event.description
    %p
      %strong Start date
      = event.start_date
      %strong End date
      = event.end_date
    - if involvement and involvement.slots.present?
      %h3= link_to "#{event} schedule", event_involvement_path(event, involvement, anchor: 'tab-schedule')
      = render :partial => 'slots/list_for_involvement', :locals => {:involvement => involvement}
    - if involvement and involvement.work_logs.present?
      %h3= link_to "#{event} work logs", event_involvement_path(event, involvement, anchor: 'tab-worklogs')
      = render :partial => 'work_logs/list_for_involvement', :locals => {:involvement => involvement}
