%h1 Listing teams

%table
  %tr
    %th Name
    %th Positions
    %th Description
    %th
    %th

  - @teams.each do |team|
    %tr
      %td= link_to_record team
      %td= team.positions.count
      %td= team.description
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }
