- slots ||= slots # force interpretation as local variable
- total_seconds = 0
- total_credits = 0
%table.slots
  %tr
    %th Position
    %th Shift
    %th Start
    %th End
    %th Hours
    %th Credits
  - (slots || involvement.slots.with_shift).each do |slot|
    - total_seconds += slot.shift.duration_seconds
    - total_credits += slot.credit_value
    %tr
      %td= link_to slot.position.name, slot
      %td= link_to_record(slot.shift.training || slot.shift)
      %td= l slot.shift.start_time
      %td= l slot.shift.end_time
      %td= distance_of_time_hours_minutes slot.shift.start_time, slot.shift.end_time
      %td= slot.credit_value_formatted
      %td= link_to 'Remove', leave_event_slot_path(slot.event, slot, :involvement_id => involvement.id), :confirm => 'Are you sure?', :method => :post

  %tr.total
    %td(colspan=4) Total
    %td= format_seconds_as_hours_minutes(total_seconds)
    %td= format('%.2f', total_credits)
    %td
