%h1
  Listing slots
  - if @event
    in #{link_to_record @event}

%p
  = form_tag (@event ? event_slots_path(@event) : slots_path), method: :get do
    = render 'positions/search_positions', checked_ids: @query_position_ids, positions: @posible_positions
    = submit_tag 'Filter by position'

= page_entries_info @slots, :model => 'slots'
%br
= will_paginate @slots, :inner_window => 10, :outer_window => 5

%table
  %tr
    %th= sortable_header 'shifts.name', 'Shift'
    %th= sortable_header 'positions.name', 'Position'
    %th= sortable_header 'shifts.start_time'
    %th= sortable_header 'shifts.end_time'
    %th Credits
    %th Attendees

  - @slots.each do |slot|
    %tr
      %td= link_to_record slot.shift
      %td= link_to_record slot
      %td= l slot.shift.start_time, format: :short
      %td= l slot.shift.end_time, format: :short
      %td= format('%.2f', slot.credit_value)
      %td= slot_meter_tag(slot)

= will_paginate @slots, :inner_window => 10, :outer_window => 5
