%p
  %b Shift:
  = link_to @slot.shift.to_s_with_date, event_shift_path(@slot.shift.event, @slot.shift) if @slot.shift
  = link_to @slot.shift.event.name, event_path(@slot.shift.event) if @slot.shift.event
%p
  %b Position:
  = link_to @slot.position.name, position_path(@slot.position) if @slot.position
%p
  %b Credits:
  = format('%.2f', @slot.credit_value)
%p
  %b Min people:
  = @slot.min_people
%p
  %b Max people:
  = @slot.max_people
%p
  %b Sign up:
  = render :partial => 'add', :locals => {:slot => @slot}
%p
  %b People signed up:
  %table
    %tr
      %th Name
      %th Signed in?
      %th Signed out?
      %th
      %th
    - @slot.involvements.accessible_by(current_ability).each do |p|
      %tr
        %td= link_to_record p
        - if work = p.work_logs.where(:shift_id => @slot.shift_id).first
          %td Yes
          - if work.end_time.present?
            %td Yes
            %td
          - else
            %td No
            %td= link_to 'Sign out', work
          %td
        - else
          %td No
          %td No
          %td= link_to 'Sign in', work
          %td= link_to 'Remove', leave_event_slot_path(@slot.event, @slot, :involvement_id => p.id), :confirm => 'Are you sure?', :method => :post

= link_to 'Edit', edit_slot_path(@slot)
\|
= link_to 'Back', slots_path
