%p
  %b Shift:
  = link_to @slot.shift.to_s_with_date, event_shift_path(@slot.shift.event, @slot.shift) if @slot.shift
  = link_to @slot.shift.event.name, event_path(@slot.shift.event) if @slot.shift.event
%p
  %b Position:
  = link_to @slot.position.name, position_path(@slot.position) if @slot.position
%p
  %b Min people:
  = @slot.min_people
%p
  %b Max people:
  = @slot.max_people
%p
  %b Participants:
  %table
    %tr
      %th Participant
      %th Signed in?
      %th Signed out?
    - @slot.participants.accessible_by(current_ability).each do |p|
      %tr
        %td= link_to_record p
        - if work = p.work_logs.where(:shift_id => @slot.shift_id).first
          %td Yes
          %td= work.end_time.present? ? "Yes" : "No"
        - else
          %td No
          %td No

= link_to 'Edit', edit_slot_path(@slot)
\|
= link_to 'Back', slots_path
