= semantic_form_for @profile do |f|
  = f.inputs do
    = f.input :person
    = f.input :full_name
    = f.input :nicknames
    = f.input :email
    = f.input :phone_numbers
    = f.input :mailing_address
    = f.input :contact_note
    = f.input :gender
    = f.input :birth_date
    = f.input :shirt_size
    = f.input :shirt_style
    = f.input :years_at_burning_man

  = f.actions do
    = f.action(:submit)
