%h1 Listing profiles

%table
  %tr
    %th Person
    %th Full name
    %th Nicknames
    %th Email
    %th Phone numbers
    %th Mailing address
    %th Contact note
    %th Gender
    %th Birth date
    %th Shirt size
    %th Shirt style

  - @profiles.each do |profile|
    %tr
      %td= link_to_record profile.person
      %td= profile.full_name
      %td= profile.nicknames
      %td= profile.email
      %td= profile.phone_numbers
      %td.text-attribute= profile.mailing_address
      %td.text-attribute= profile.contact_note
      %td= profile.gender
      %td= profile.birth_date
      %td= profile.shirt_size
      %td= profile.shirt_style
      %td= profile.years_at_burning_man
