%p
  %b Name:
  = @position.name
%p
  %b Description:
  = @position.description
%p
  %b New user eligible:
  = @position.new_user_eligible

= link_to 'Edit', edit_position_path(@position)
\|
= link_to 'Back', positions_path
