-if @person.errors.any?
  #error_explanation
    %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
    %ul
      - @person.errors.full_messages.each do |msg|
        %li= msg

.tab-container
  %ul
    %li.tab-title
      %a.tab-link{:href => '#tab-core'} Core
    %li.tab-title
      %a.tab-link{:href => '#tab-contact-details'} Contact &amp; Details
    - if can? :edit, Position
      %li.tab-title
        %a.tab-link{:href => '#tab-positions'} Positions
    %li.tab-title
      %a.tab-link{:href => '#tab-user'} User

  .tab-content#tab-core
    = semantic_form_for(@person, :namespace => 'details_form') do |f|
      = f.inputs do
        = f.input :callsign
        = f.input :full_name
        = f.input :barcode
        = f.input :status, :as => :select, :collection => Person::STATUSES.map(&:to_s)
        = f.input :status_date, :as => :date_picker
        = f.input :callsign_approved, :as => :boolean
        = f.input :has_personnel_note, :as => :boolean
      = f.actions do
        = f.action(:submit)

  .tab-content#tab-contact-details
    = semantic_form_for(@person, :namespace => 'details_form') do |f|
      = f.inputs do
        = f.input :email, :as => :email
        = f.input :main_phone
        = f.input :alt_phone
        = f.input :mailing_address, :as => :text, :input_html => { :rows => 5, :cols => 30 }
        = f.input :birth_date, :as => :date_picker
        = f.input :gender
        = f.input :shirt_size, :as => :select, :collection => Person::SHIRT_SIZES
        = f.input :shirt_style, :as => :select, :collection => Person::SHIRT_STYLES
        = f.input :language_list
        = f.input :qualification_list
      = f.actions do
        = f.action(:submit)

  - if can? :edit, Position
    .tab-content#tab-positions
      = semantic_form_for(@person, :namespace => 'positions_form') do |f|
        = f.inputs do
          = f.input :positions, :as => :check_boxes
        = f.actions do
          = f.action(:submit)

  .tab-content#tab-user
    - @person.user.try do |user|
      = render :partial => 'users/form', :locals => {:@user => user}
