- @person.build_profile unless @person.profile
- @person.profile.build_mailing_address unless @person.profile.mailing_address

- if @person.errors.any?
  #error_explanation
    %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
    %ul
      - @person.errors.full_messages.each do |msg|
        %li= msg

.tab-container
  %ul
    - if can? :edit, @person
      %li.tab-title
        %a.tab-link{:href => '#tab-core'} Core
    - if can? :edit, @person.profile
      %li.tab-title
        %a.tab-link{:href => '#tab-contact'} Contact
      %li.tab-title
        %a.tab-link{:href => '#tab-profile'} Profile
    - if can? :edit, @person
      %li.tab-title
        %a.tab-link{:href => '#tab-skills'} Skills
    - if can? :edit, Position
      %li.tab-title
        %a.tab-link{:href => '#tab-positions'} Positions
    %li.tab-title
      %a.tab-link{:href => '#tab-user'} User

  - if can? :edit, @person
    .tab-content#tab-core
      = semantic_form_for(@person, :namespace => 'core_form') do |f|
        = f.inputs do
          = f.input :callsign
          = f.input :full_name
          = f.input :barcode
          = f.input :status, :as => :select, :collection => Person::STATUSES.map(&:to_s)
          = f.input :status_date, :as => :date_picker
          = f.input :callsign_approved, :as => :boolean
          = f.input :has_personnel_note, :as => :boolean
        = f.actions do
          = f.action(:submit)

  - if can? :edit, @person.profile
    .tab-content#tab-contact
      = semantic_form_for(@person.profile, :namespace => 'contact_form') do |f|
        = f.inputs do
          = f.input :email, :as => :email
          = f.input :phone_numbers
          = f.inputs *MailingAddress::ADDRESS_ATTRS, for: :mailing_address, name: 'Mailing address'
          = f.input :contact_note, :input_html => { :rows => 5 }
        = f.actions do
          = f.action(:submit)

    .tab-content#tab-profile
      = semantic_form_for(@person.profile, :namespace => 'profile_form') do |f|
        = f.inputs do
          = f.input :nicknames
          = f.input :gender
          = f.input :shirt_size, :as => :select, :collection => Profile::SHIRT_SIZES
          = f.input :shirt_style, :as => :select, :collection => Profile::SHIRT_STYLES
          = f.input :birth_date, :as => :date_picker
          = f.input :years_at_burning_man
        = f.actions do
          = f.action(:submit)

    .tab-content#tab-skills
      -# TODO make language_list hang from profile
      = semantic_form_for(@person, :namespace => 'skills_form') do |f|
        = f.inputs do
          = f.input :language_list
          = f.input :qualification_list
        = f.actions do
          = f.action(:submit)

  - if can? :edit, Position
    .tab-content#tab-positions
      = semantic_form_for(@person, :namespace => 'positions_form') do |f|
        = f.inputs do
          = f.input :positions, :as => :check_boxes
        = f.actions do
          = f.action(:submit)

  .tab-content#tab-user
    - @person.user.try do |user|
      = render :partial => 'users/form', :locals => {:@user => user}
