- provide :main_action_list_items do
  - if policy(Person).list?
    %li= link_to 'All people', people_path
  - if policy(Callsign).list?
    %li= link_to 'All callsigns', callsigns_path
  - if policy(Person).search?
    %li= link_to 'Search people', search_people_path
  - if policy(Person).create?
    %li= link_to 'New person', new_person_path
  = render 'record_actions'
