= page_entries_info @people, :model => 'people'
%br
= will_paginate @people, :inner_window => 10

%table.people-list
  %tr
    %th= sortable_header 'display_name', 'Callsign'
    %th= sortable_header 'full_name'
    %th= sortable_header 'Status'

  - @people.each do |person|
    %tr.person
      %td= link_to_record person
      %td= person.full_name
      %td= person.status

= will_paginate @people, :inner_window => 10
