%h1 Change history for #{link_to_record @person}

%h2 Core
= render 'audits/changes_table'

- if @person.profile
  %h2 Profile
  = render 'audits/changes_table', audits: associated_audits_for(@person, :profile, :mailing_address)

- if @person.user
  %h2 User
  = render 'audits/changes_table', audits: associated_audits_for(@person, :user)

%h2 Involvements
= render 'audits/changes_table', audits: associated_audits_for(@person, :involvement)

%h2 Other changes
= render 'audits/changes_table', audits: associated_audits_for(@person).where('auditable_type NOT IN (?)', %w(Involvement Profile User))
