- @person.build_profile unless @person.profile

%h1= "#{@person.display_name} (#{@person.full_name})"

- @person.messages.undelivered.presence.try do |undelivered|
  .notifications
    .notice= link_to pluralize(undelivered.count, 'new message'), '#tab-messages'

.tab-container
  %ul
    %li.tab-title
      %a.tab-link{:href => '#tab-core'} Core
    %li.tab-title
      %a.tab-link{:href => '#tab-contact'} Contact
    %li.tab-title
      %a.tab-link{:href => '#tab-details'} Details
    %li.tab-title
      %a.tab-link{:href => '#tab-involvement'} Events
    %li.tab-title
      %a.tab-link{:href => '#tab-positions'} Positions
    %li.tab-title
      %a.tab-link{:href => '#tab-teams'} Teams
    %li.tab-title
      %a.tab-link{:href => '#tab-user'} User
    %li.tab-title
      %a.tab-link{:href => '#tab-mentorships'} Mentorships
    %li.tab-title
      %a.tab-link(href='#tab-messages') Messages

  .tab-content#tab-core
    %dl.attributes[@person]
      - [:callsign, :callsign_status, :full_name, :barcode, :status, :status_date, :years_rangered].each do |attr|
        %dt{:id => "label_#{attr}"}= Person.human_attribute_name attr
        %dd{:id => "value_#{attr}"}= @person.send attr
      %dt{id: "label_callsign_assignments"} Callsign history
      %dd{id: "value_callsign_assignments"}
        %table
          %thead
            %tr
              %th Callsign
              %th Start date
              %th End date
              %th
          %tbody
            - @person.callsign_assignments.each do |ca|
              %tr
                %td= link_to_record ca.callsign
                %td= l ca.start_date
                - if ca.current?
                  %td Current
                - else
                  %td= l ca.end_date
                %td
                  - unless ca.primary_callsign?
                    %td (alternate)

  .tab-content#tab-contact
    %dl.attributes[@person.profile]
      %dt{id: "label_email"} Email
      %dd{id: "value_email"}= mail_to @person.profile.email
      - [:phone_numbers, :mailing_address, :contact_note].each do |attr|
        %dt{:id => "label_#{attr}"}= Profile.human_attribute_name attr
        %dd.text-attribute{:id => "value_#{attr}"}<= @person.profile.send attr

  .tab-content#tab-details
    %dl.attributes[@person]
      - [:gender, :shirt_size, :shirt_style, :birth_date].each do |attr|
        %dt{:id => "label_#{attr}"}= Profile.human_attribute_name attr
        %dd{:id => "value_#{attr}"}<= @person.profile.send attr
      - [:language_list, :qualification_list, :callsign_approved, :has_personnel_note, :created_at, :updated_at].each do |attr|
        %dt{:id => "label_#{attr}"}= Person.human_attribute_name attr
        %dd{:id => "value_#{attr}"}<= @person.send attr

  .tab-content#tab-involvement
    - if @person.involvements.empty?
      = "#{@person} has not been involved in any events"
    - else
      = "#{@person}'s involvement in"
      %ul
        - @person.involvements.sort_by(&:event).each do |p|
          %li
            = link_to p.event, event_involvement_path(p.event, p)
            = "(#{p.involvement_status})"

  .tab-content#tab-positions
    %ul
      - @person.positions.each do |position|
        %li{:title => position.description}= position.name

  .tab-content#tab-teams
    %ul
      - @person.teams.each do |team|
        %li{:title => team.description}
          = link_to_record team
          - if team.in? @person.managed_teams
            (manager)

  .tab-content#tab-user
    - @person.user.try do |user|
      %dl.attributes[user]
        - if can? :audit, user
          %dt#label_user_audits Changes
          %dd#value_user_audits= link_to "Changes made by #{user}", audits_path(user_id: user.id)
        %dt{:id => "label_user_roles"} Roles
        %dd{:id => "value_user_roles"}= user.roles.to_sentence
        - [:email, :disabled, :disabled_message, :sign_in_count, :current_sign_in_at, :last_sign_in_at, :created_at, :updated_at].each do |attr|
          %dt{:id => "label_user_#{attr}"}= User.human_attribute_name attr
          %dd{:id => "value_user_#{attr}"}= user.send attr
  .tab-content#tab-mentorships
    %dl
      - mentors = []
      - mentees = []
      - @person.involvements.sort_by(&:event).each do |inv|
        - mentors += inv.mentorships.to_a
        - inv.mentors.each do |m|
          - mentees << m.mentorship
      - if mentors.any?
        %table
          %thead
            %caption Mentors
            %tr
              %th Event
              %th Outcome
              %th Mentor(s)
          - mentors.each do |mentorship|
            %tr
              %td= mentorship.event
              %td= link_to mentorship.outcome, mentorship
              %td= mentorship.mentors.to_sentence
      - if mentees.any?
        - if mentors.any?
          %hr
        %table
          %thead
            %caption Mentees
            %tr
              %th Event
              %th Outcome
              %th Mentee
          - mentees.each do |mentorship|
            %tr
              %td= mentorship.event
              %td= link_to mentorship.outcome, mentorship
              %td= mentorship.mentee

  .tab-content#tab-messages
    %dl.send-message.accordion
      %dt Send a message to #{@person}
      %dd= render 'messages/quick_send', people: @person
    %h3 Messages for #{@person}
    = render 'messages/for_person'
