%h1 Listing callsigns

= page_entries_info @callsigns, :model => 'callsigns'
%br
= will_paginate @callsigns, :inner_window => 10

%table
  %tr
    %th= sortable_header 'name', 'Callsign'
    %th= sortable_header 'status'
    %th Current assignee
    %th= sortable_header 'note'

  - @callsigns.each do |callsign|
    %tr
      %td
        - if policy(callsign).show?
          = link_to_record callsign
        - else
          = callsign
      %td= callsign.status
      %td
        - callsign.current_assignee.try do |person|
          - if policy(person).show?
            = link_to_record person
            - if person.full_name != person.display_name
              %nobr (#{person.full_name})
      %td.text-attribute<
        - if policy(callsign).show?
          = callsign.note

= will_paginate @callsigns, :inner_window => 10
