%table.worklogs[involvement]
  %tr
    %th Position
    %th Shift
    %th Start time
    %th End time
    %th Hours
    %th Credits
  - involvement.work_logs.order(:start_time).each do |w|
    %tr
      %td= link_to w.position, event_work_log_path(w.event, w)
      %td= w.shift
      %td= l w.start_time
      %td= if w.end_time then l w.end_time else 'on duty' end
      %td= w.hours_formatted
      %td= w.credit_value_formatted
      - if w.note.present?
        %td= link_to 'Note', w
  %tr.total
    %td(colspan=4) Total worked
    %td= involvement.total_hours_formatted
    %td= involvement.total_credits_formatted
    %td
