- content_for :main_action_list_items do
  - if @event
    %li= link_to_record @event
    - if subject_record
      - involvement = subject_record.involvement
    - elsif person_me
      - @event.involvements.find_by_person_id(person_me.id).try do |p|
        - involvement = p
    - if involvement
      %li= link_to "Work logs for #{involvement} in #{@event}", event_involvement_path(@event, involvement, :anchor => 'worklogs')
    - if @shift
      %li= link_to "#{@shift} work_logs", event_shift_work_logs_path(@event, @shift)
      - if can? :create, :work_logs
        %li= link_to "New work log in #{@shift}", new_event_shift_work_log_path(@event, @shift)
    - else
      %li= link_to "Work logs in #{@event}", event_work_logs_path(@event)
      - if can? :create, :work_logs
        %li= link_to "New work log in #{@event}", new_event_work_log_path(@event)
  - else
    %li= link_to 'All work_logs', work_logs_path
  = render 'record_actions'
