%p
  %b Event:
  = link_to_record @work_log.event
%p
  %b Person:
  = link_to_record @work_log.involvement
%p
  %b Position:
  = @work_log.position
%p
  %b Shift:
  = @work_log.shift
%p
  %b Start time:
  = l @work_log.start_time
%p
  %b End time:
  = @work_log.end_time.try { |time| l time }
%p
  %b Hours:
  = @work_log.hours_formatted
%p
  %b Credits:
  = @work_log.credit_value_formatted
  %br
  - @work_log.scheme.try do |scheme|
    - if can? :read, scheme
      = link_to_record scheme
    - else
      scheme
    %span>< &mdash;
  = @work_log.credit_value_explained
%p
  %b Note:
  = @work_log.note

= link_to 'Edit', edit_work_log_path(@work_log)
\|
= link_to 'Back', @event ? event_work_logs_path(@event) : work_logs_path
