%p
  %b Event:
  = link_to_record @work_log.event
%p
  %b Person:
  = link_to_record @work_log.involvement
%p
  %b Position:
  - if @work_log.shift and (slots = @work_log.shift.slots.where(position_id: @work_log.position.id)).any?
    = link_to_record slots.first
  - else
    = @work_log.position
%p
  %b Shift:
  = link_to_record @work_log.shift
%p
  %b Start time:
  = l @work_log.start_time
%p
  %b End time:
  = @work_log.end_time.try { |time| l time }
%p
  %b Hours:
  = @work_log.hours_formatted
%p
  %b Credits:
  = @work_log.credit_value_formatted
  %br
  - @work_log.scheme.try do |scheme|
    - if policy(scheme).show?
      = link_to_record scheme
    - else
      scheme
    %span>< &mdash;
  = @work_log.credit_value_explained
%p
  %b Note:
  = @work_log.note
