%h1
  - if @event
    Participants in
    = link_to_record @event
  - else
    All Participants

%table
  %tr
    - unless @event
      %th Event
    %th Callsign
    %th Full Name
    %th
      Participation
      %br
      status
    %th
      Personnel
      %br
      status
    %th
    %th

  - @participants.each do |participant|
    %tr
      - unless @event
        %td= link_to_record participant.event
      %td= link_to_record participant
      %td= participant.full_name
      %td= participant.participation_status
      %td= participant.personnel_status
      %td= link_to_edit_record participant
      %td= link_to 'Remove', participant, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Add participant', @event ? new_event_participant_path(@event) : new_participant_path
