%h1 New participant

= semantic_form_for @participant do |f|
  = f.inputs do
    - if @participant.event
      = f.input :event, :collection => [@participant.event]
    - else
      = f.input :event
    - if @participant.person
      = f.input :person, :collection => [@participant.person]
    - else
      = f.input :person

  = f.actions do
    = f.action :submit, :label => 'Participate'

= link_to 'Back', @event ? event_participants_path(@event) : participants_path
