%h1 New participant

= semantic_form_for @participant do |f|
  = f.inputs do
    = f.input :event
    = f.input :person

  = f.actions do
    = f.action :submit

= link_to 'Back', @event ? event_participants_path(@event) : participants_path
