%h1= "#{@participant.name} participating in #{@participant.event}"

%p
  %b Name:
  = @participant.name

%p
  %b Full name:
  = @participant.full_name

%p
  %b Barcode:
  = @participant.barcode

%p
  %b On site:
  = @participant.on_site

%p
  %b Participation status:
  = @participant.participation_status

%p
  %b Personnel status:
  = @participant.personnel_status

%p
  %b Full Name:
  = @participant.full_name

%h3 On site details
%dl.attributes[@participant]
  - Participant::DETAIL_ATTRS.each do |attr|
    %dt{:id => "label_#{attr}"}<= Participant.human_attribute_name attr
    %dd{:id => "value_#{attr}"}<= @participant.send attr

%h3 Work logs
%table.worklogs[@participant]
  %tr
    %th Position
    %th Shift
    %th Start time
    %th End time
    %th Hours
    %th Credits
    %th Note
  - @participant.work_logs.order(:start_time).each do |w|
    %tr
      %td= link_to w.position, event_work_log_path(@event, w)
      %td= w.shift
      %td= l w.start_time
      %td= l w.end_time
      %td= w.hours_formatted
      %td= w.credit_value_formatted
      %td= w.note
  %tr
    %td(colspan=4)
      %b Total
    %td
      %b= @participant.total_hours_formatted
    %td
      %b= format('%.2f', @participant.total_credits)
    %td

%p
  %b Positions:
  = @participant.positions.to_sentence

%p
  %b More details about this person:
  = link_to @participant.person, @participant.person

= link_to 'Edit', edit_event_participant_path(@event, @participant)
\|
= link_to 'Back', event_participants_path(@event)
