= semantic_form_for @user, :namespace => 'email' do |f|
  = f.inputs :name => 'Change email' do
    = f.input :email, :as => :email
  = f.actions do
    = f.action(:submit)

- if policy(@user).disable?
  = semantic_form_for @user, :namespace => 'disable' do |f|
    = f.inputs :name => 'Enable/disable user' do
      = f.input :disabled
      = f.input :disabled_message, :hint => 'Disabled user will see this when trying to log in'
    = f.actions do
      = f.action(:submit)

- if policy(UserRole).managed_roles.any? or Rails.configuration.users_can_choose_roles_dangerous
  %h2 Roles
  = link_to 'Manage roles', user_user_roles_path(@user)
  %ul
    - @user.roles.sort.each do |role|
      %li{title: role.description}= role
