%h1 Edit roles for #{@user}

%dl.user-roles
  - urs = @user_roles.index_by {|ur| Role[ur.role]}
  - Role::ALL.each do |role|
    %dt
      = role.name
      - if urs[role]
        = form_for urs[role], :method => :delete do |f|
          = submit_tag 'Revoke', :confirm => "Revoke #{role} from #{@user}?"
        =# link_to 'Revoke', urs[role], :method => :delete, :data => { :confirm => "Revoke #{role} for #{@user}?" }
      - else
        = form_for UserRole.new(:user_id => @user.id, :role => role.to_sym) do |f|
          = f.hidden_field :user_id
          = f.hidden_field :role
          = submit_tag 'Grant', :confirm => "Grant #{role} to #{@user}?"
    %dd= role.description

= link_to 'Back', user_roles_path
