%h1 Roles for #{@user}

%dl
  - @user_roles.each do |ur|
    - role = Role[ur.role]
    %dt= role.name
    %dd= role.description

%br

= link_to 'Edit', edit_user_role_path(@user)
\|
= link_to 'Back', user_roles_path
