%h1 Welcome to #{t 'site_name'}
- if current_user
  %p Some day there will be something useful here.
- else
  %p
    %strong= link_to 'Sign in', new_user_session_path
    if you already have an account.
    %br
    %strong= link_to 'Reset your password', new_user_password_path
    if you forgot you password or haven't used the new system yet.
    %br
    %strong= link_to 'Create an account', new_user_session_path
    if you don't have one yet.
    %p
      This is the personnel and scheduling system for the
      = link_to 'Black Rock Rangers.', 'http://rangers.burningman.com/becoming-a-ranger/'
      %br
      If you'd like to become a Ranger (you're not just here for training),
      = link_to 'fill out a volunteer questionaire', 'http://www2.burningman.com/people/'
      first.
