%h1 Listing events

%table
  %tr
    %th Name
    %th Start date
    %th End date
    %th Signup
    %th Description

  - @events.each do |event|
    %tr
      %td= link_to_record event
      %td= event.start_date
      %td= event.end_date
      %td= event.signup_open ? 'open' : 'closed'
      %td.text-attribute= event.description
