%h1= @event.name
%p.text-attribute= @event.description

- if person_me
  %p
    %h2 Involvement status
    - if inv = involvement_for_event_person(@event, person_me)
      = link_to "#{inv} is #{inv.involvement_status}.", event_involvement_path(@event, inv)
      - if @event.signup_open?
        %strong= link_to 'Sign up for shifts', schedule_event_involvement_path(@event, inv)
    - else
      #{person_me} is not involved.
      - if @event.signup_open?
        %strong= link_to 'Get involved', new_event_involvement_path(@event, :person_id => person_me.id)
    - unless @event.signup_open?
      (Sign up currently closed.)

%h2 Details
%dl.attributes
  %dt Type
  %dd
    = @event.type.underscore.humanize
    - if @event.linked_event
      linked to #{@event.linked_event.type.underscore.humanize}
      = link_to_record @event.linked_event
  %dt Dates
  %dd #{@event.start_date} to #{@event.end_date} (#{distance_of_time_in_words(@event.start_date, @event.end_date)})
  - if policy(Involvement).list?
    %dt= link_to 'People', event_involvements_path(@event)
    %dd View and manage the #{@event.involvements.count} people involved
  - if policy(Report).list?
    %dt= link_to 'Reports', event_reports_path(@event)
    %dd Run, view, print, or download reports
  - if policy(Shift).list? or policy(Slot).list?
    %dt Scheduling
    %dd
      View or create
      - if policy(Shift).list?
        = link_to 'Shifts', event_shifts_path(@event)
      - if policy(Slot).list?
        = link_to 'Slots', event_slots_path(@event)
      - if policy(ShiftTemplate).list?
        = link_to 'Shift templates', shift_templates_path(@event)
  - if policy(WorkLog).list?
    %dt= link_to 'Work logs', event_work_logs_path(@event)
    %dd View shift work logs
  - if policy(Asset).list?
    %dt
      = link_to 'Assets', event_assets_path(@event)
      and
      = link_to 'uses', event_asset_uses_path(@event)
    %dd
      Manage assets, view asset history:
      = link_to 'Radios', event_radios_path(@event)
      = link_to 'Vehicles', event_vehicles_path(@event)
      = link_to 'Keys', event_keys_path(@event)
  - if policy(Authorization).list?
    %dt= link_to 'Authorizations', event_authorizations_path(@event)
    %dd
      People authorized for asset types:
      - Authorization.human_types.each do |type, name|
        = link_to name.pluralize, event_authorizations_path(@event, type: type)
  - if policy(Mentorship).manage?
    %dt Mentors and alphas
    %dd
      = link_to 'Assign mentors, manage alphas,', event_mentorships_path(@event)
      = link_to 'View alphas by mentor', event_mentors_path(@event)
  - if policy(CreditScheme).manage?
    %dt= link_to 'Credit schemes', event_credit_schemes_path(@event)
    %dd Manage credits for shifts
