%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date
%p
  %b Signup open:
  = @event.signup_open
- if person_me
  %p
    %b= "Participation status (#{person_me}):"
    - if participant = participant_for_event_person(@event, person_me)
      = link_to participant.participation_status, event_participant_path(@event, participant)
    - else
      = 'none'
      - if @event.signup_open
        = link_to 'Participate', new_event_participant_path(@event, :person_id => person_me.id)


- if can? :manage, CreditScheme
  %p
    %b Credit schemes:
    - @event.credit_schemes.order(:name).each do |scheme|
      = link_to_record scheme
    = link_to 'New credit scheme', new_event_credit_scheme_path(@event)
%p
  %h3= link_to 'Shifts', event_shifts_path(@event)
  = link_to 'New shift', new_event_shift_path(@event)
  %table
    %tr
      %th= Shift.human_attribute_name(:name)
      %th= Shift.human_attribute_name(:start_time)
      %th= Shift.human_attribute_name(:end_time)
    - @event.shifts.each do |shift|
      %tr
        %td= link_to shift.name, event_shift_path(@event, shift)
        %td= l shift.start_time
        %td= l shift.end_time

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
