= semantic_form_for @shift do |f|
  - if @shift_template
    = hidden_field_tag 'template', @shift_template.id
  = f.inputs do
    = f.input :name
    = f.input :description, :input_html => {:rows => 5}
    / TODO :as => datetime_picker
    = f.input :start_time
    = f.input :end_time
    = f.input :event

  = f.actions do
    - if @shift_template and @shift_template.slot_templates.present?
      %p.inline-hints
        %strong Shift template: #{link_to_record @shift_template}
        %br
        New shift will have slots with position(s)
        = @shift_template.slot_templates.to_sentence
    = f.input :audit_comment, as: :audit
    = f.action(:submit)
