%h1
  Listing shifts
  - if @event
    for
    = link_to @event.name, @event if @event

%table
  %tr
    %th= sortable_header 'name'
    - unless @event
      %th Event
    %th Positions
    %th= sortable_header 'start_time'
    %th= sortable_header 'end_time'
    %th= sortable_header 'description'

  - @shifts.each do |shift|
    %tr
      %td= link_to shift.name, shift
      - unless @event
        %td= shift.event.name
      - shift.slots.order(max_people: :desc).tap do |slots|
        %td{title: slots.to_sentence}
          - if slots.any?
            = slots.first
            - if slots.count > 1
              = "+#{slots.count - 1}"
      %td
        %nobr= l shift.start_time, :format => :short
      %td
        %nobr= l shift.end_time, :format => :short
      %td= shift.description

- if can? :create, Shift
  %br
  = render 'template_picker'
