%p
  %b Name:
  = @shift.name
- if @shift.training
  %b Training details:
  = link_to_record @shift.training
%p
  %b Description:
  = @shift.description
%p
  %b Event:
  = link_to @shift.event.name, event_path(@shift.event) if @shift.event
%p
  %b Start time:
  = l @shift.start_time
%p
  %b End time:
  = l @shift.end_time
%p
  %h3= link_to 'Slots', shift_slots_path(@shift)
  = link_to 'New slot', new_shift_slot_path(@shift)
  %table
    %tr
      %th= Slot.human_attribute_name(:position)
      %th= Slot.human_attribute_name(:min_people)
      %th= Slot.human_attribute_name(:max_people)
    - @shift.slots.each do |slot|
      %tr
        %td= link_to slot.position.name, shift_slot_path(@shift, slot)
        %td= slot.min_people
        %td= slot.max_people

.copy
  %h3 Copy this shift and its slots
  = form_for @shift, :method => :post, :url => copy_shift_path(@shift) do |f|
    Repeat once a day from
    = text_field_tag 'start', @shift.start_time.to_date.tomorrow.to_s, :class => 'datepicker'
    to
    = text_field_tag 'end', @shift.event.end_date.to_s, :class => 'datepicker'
    = f.submit 'Copy shift'

= link_to 'Edit', edit_shift_path(@shift)
\|
= link_to 'Back', shifts_path
