= semantic_form_for [@event, @mentor], mentorship_id: @mentor.mentorship_id do |f|
  = f.inputs do
    = f.input :involvement, label: 'Mentor'
    = f.input :vote, collection: Mentorship::OUTCOMES
    = f.input :note

  = f.actions do
    = f.input :audit_comment, as: :audit
    = f.action(:submit)
