- audits ||= @audits
- include_type ||= false
%table.change-history
  %thead
    %tr
      %th Time
      %th Changed by
      - if include_type
        %th Type
      %th Action
      %th Comment
      %th Field
      %th Old value
      %th New value
  - audits.each do |audit|
    %tbody.audit
      - (audit.change_structs.reject {|c| [c.old_value, c.new_value].all? &:blank?}.presence || [Audited::ChangeStruct.new]).each_with_index do |change, i|
        %tr{class: i == 0 ? 'new-audit' : 'continue-audit'}
          - if i == 0
            %td.rowhead{rowspan: audit.audited_changes.size}= l audit.created_at
            %td.rowhead{rowspan: audit.audited_changes.size}= link_to_record audit.user
            - if include_type
              %td.rowhead{rowspan: audit.audited_changes.size}= audit.auditable_type.titleize
            %td.rowhead{rowspan: audit.audited_changes.size}= audit.action.titleize
            %td.rowhead.text-attribute{rowspan: audit.audited_changes.size}<= audit.comment
          %td= change.field.to_s.titleize
          -# TODO consider two-cell colorized diff for text attributes
          %td.text-attribute<= change.old_value
          %td.text-attribute<= change.new_value
