= semantic_form_for [@credit_scheme.event, @credit_scheme, @credit_delta] do |f|
  %h3= @credit_scheme
  = f.inputs do
    = f.input :name
    = f.input :hourly_rate, :label => 'Hourly rate change'
    = f.input :start_time
    = f.input :end_time

  = f.actions do
    = f.input :audit_comment, as: :audit
    = f.action(:submit)
