%p
  %b Credit scheme:
  = link_to_record @credit_delta.credit_scheme
%p
  %b Name:
  = @credit_delta.name
%p
  %b Hourly rate change:
  = @credit_delta.hourly_rate
%p
  %b Start time:
  = @credit_delta.start_time
%p
  %b End time:
  = @credit_delta.end_time

- if @credit_scheme
  = link_to 'Edit', edit_event_credit_scheme_credit_delta_path(@credit_scheme.event, @credit_scheme, @credit_delta)
  \|
  = link_to 'New', new_event_credit_scheme_credit_delta_path(@credit_scheme.event, @credit_scheme)
  \|
  = link_to 'New +24 hours', new_event_credit_scheme_credit_delta_path(@credit_scheme.event, @credit_scheme, :credit_delta => {:name => @credit_delta.name, :hourly_rate => @credit_delta.hourly_rate, :start_time => @credit_delta.start_time.tomorrow, :end_time => @credit_delta.end_time.tomorrow})
  \|
  = link_to 'Back', event_credit_scheme_credit_deltas_path(@credit_scheme.event, @credit_scheme)
/= link_to 'Edit', edit_credit_delta_path(@credit_delta)
/\|
/= link_to 'Back', credit_deltas_path
