= semantic_form_for [@event, @mentorship] do |f|
  = hidden_field_tag :mentee_id, @mentorship.mentee_id
  = f.inputs do
    = f.input :shift, collection: @event.shifts.with_positions(Position.find('alpha').id)
    = f.input :outcome, collection: Mentorship::OUTCOMES
    = f.input :note

  = f.actions do
    = f.input :audit_comment, as: :audit
    = f.action(:submit)
