= semantic_form_for [@event, @mentorship], mentee_id: @mentorship.mentee_id do |f|
  = f.inputs do
    = f.input :shift, collection: @event.shifts
    = f.input :outcome, collection: Mentorship::OUTCOMES
    = f.input :note

  = f.actions do
    = f.action(:submit)
