%h1 Mentorships in #{link_to_record @event}

%table
  %tr
    %th= sortable_header 'shifts.start_time', 'Shift'
    %th= sortable_header 'involvements.name', 'Mentee'
    %th Mentors
    %th= sortable_header 'outcome'
    %th= sortable_header 'note'

  - @mentorships.each do |mentorship|
    %tr
      %td= link_to_record mentorship.shift
      %td= link_to mentorship.mentee, mentorship
      %td
        - mentorship.mentors.sort_by(&:display_name).each do |mentor|
          %nobr= link_to_record mentor
      %td= mentorship.outcome
      %td.text_attribute= mentorship.note
