%p
  %b Event:
  = link_to_record @credit_scheme.event
%p
  %b Name:
  = @credit_scheme.name
%p
  %b Base hourly rate:
  = @credit_scheme.base_hourly_rate
%p
  %b Description:
  .text-attribute= @credit_scheme.description
%p
  %b Positions:
  %ul
    - @credit_scheme.positions.order(:name).each do |p|
      %li= link_to_record p
%p
  %b Deltas
  = render 'credit_deltas/table', :@credit_scheme => @credit_scheme, :@credit_deltas => @credit_scheme.credit_deltas
