Displaying
%strong= @involvements.count
results
%table
  %tr
    - unless @event
      %th Event
    %th= sortable_header 'involvements.name', 'Callsign'
    %th
      = sortable_header 'involvement_status' do
        Involvement
        %br
        status
    %th
      = sortable_header 'personnel_status' do
        Personnel
        %br
        status
    %th= sortable_header 'on_site', 'On site?'

  - @involvements.each do |involvement|
    %tr
      - unless @event
        %td= link_to_record involvement.event
      %td= link_to_record involvement
      %td= involvement.involvement_status
      %td= involvement.personnel_status
      %td= involvement.on_site? ? 'yes' : ''
