- provide :main_action_list_items do
  - if @event
    - if policy(Involvement).list?
      %li= link_to "People in #{@event}", event_involvements_path(@event)
    - if policy(Involvement).search?
      %li= link_to "Search in #{@event}", search_event_involvements_path(@event)
    - if @event and policy(Involvement.new).create?
      %li= link_to "Add someone to #{@event}", new_event_involvement_path(@event)
    - if @involvement and not @involvement.new_record? and policy(@involvement).schedule? and @event.signup_open?
      %li= link_to "Schedule #{@involvement} for shifts", signup_event_involvement_path(@event, @involvement)
  - else
    - if policy(Involvement).list?
      %li= link_to 'All event involvements', involvements_path
  = render 'record_actions'
