%h1
  - if @event
    People involved in
    = link_to_record @event
  - else
    All person/event involvements

%p
  = form_tag (@event ? event_involvements_path(@event) : involvements_path), method: :get do
    Personnel:
    = render 'people/search_statuses', checked_statuses: @personnel_statuses
    %br
    Involvement:
    = render 'search_involvement_statuses', checked_statuses: @involvement_statuses
    %br
    = submit_tag 'Filter by status'

= render partial: 'list'

%br

= link_to 'Add a person', @event ? new_event_involvement_path(@event) : new_involvement_path
