%h1
  - if @event
    People involved in
    = link_to_record @event
  - else
    All person/event involvements

%table
  %tr
    - unless @event
      %th Event
    %th Callsign
    %th Full Name
    %th
      Involvement
      %br
      status
    %th
      Personnel
      %br
      status
    %th
    %th

  - @involvements.each do |involvement|
    %tr
      - unless @event
        %td= link_to_record involvement.event
      %td= link_to_record involvement
      %td= involvement.full_name
      %td= involvement.involvement_status
      %td= involvement.personnel_status
      %td= link_to_edit_record involvement
      %td= link_to 'Remove', involvement, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Add involvement', @event ? new_event_involvement_path(@event) : new_involvement_path
