.schedule-app(ng-app="scheduleApp" ng-cloak){'data-event-id' => @event.to_param, 'data-involvement-id' => @involvement.id}
  %h1 Schedule for #{link_to_record @involvement} in #{link_to_record @event}

  .event-controller(ng-controller="EventCtrl")
    .involvement-controller(ng-controller="InvolvementCtrl")
      %h2 Current Schedule
      .schedule-current(ng-controller="ScheduleCtrl")
        %table
          %thead
            %tr
              %th Shift
              %th Start
              %th End
              %th Hours
              %th Credits
              %th Position
              %th Actions
          %tbody
            %tr(ng-repeat="attendee in attendees | orderBy:'shift.start_time'" ng-init="slot = attendee.slot; shift = attendee.shift; position = attendee.position;")
              %td(title="{{shift.description}}")= link_to '{{shift.name}}', "{{'/events/#{@event.to_param}/shifts/' + shift.id}}"
              %td
                %nobr {{shift.start_time_formatted}}
              %td
                %nobr {{shift.end_time_formatted}}
              %td {{shift.duration_formatted}}
              %td {{slot.credit_value_formatted}}
              %td= link_to '{{position.name}}', "{{'/events/#{@event.to_param}/shifts/' + shift.id + '/slots/' + slot.id}}"
              %td
                %button.action.slot-leave(ng-click="leave(attendee)") Leave
          %tfoot
            %tr
              %td Total
              %td= ''
              %td= ''
              -# TODO format as hh:mm
              %td {{totalHours() | number:2}}
              %td {{totalCredits() | number:2}}
              %td= ''
              %td= ''

        %h2 Available Shifts
        %label.checkbox-label
          %input(type="checkbox" ng-model="showFullSlots")
            %strong Show full slots
        &nbsp;
        %input(type="search" ng-model="shiftFilterText" placeholder="Filter by shift name")
        %br
        %strong Show positions:
        %span.checkbox-list
          %label.checkbox-label(ng-repeat="position in availablePositions | orderBy:'name'")
            %input(type="checkbox" checklist-model="selectedPositionIds" checklist-value="position.id") {{position.name}}
        %table#shift-slots
          %thead
            %tr
              %th Shift
              %th Start
              %th End
              %th Hours
              %th Credits
              %th Position
              %th Space
              %th Actions
          %tbody(ng-repeat="shift in allShifts | filter:availableShiftFilter | filter:{name:shiftFilterText} | orderBy:start_time" ng-class="{'day-a': $odd, 'day-b': $even}")
            %tr(ng-repeat="slot in shift.slots | filter:positionFilter | filter:availabileSlotFilter")
              %td(title="{{shift.description}}")= link_to '{{shift.name}}', "{{'/events/#{@event.to_param}/shifts/' + shift.id}}"
              %td
                %nobr {{shift.start_time_formatted}}
              %td
                %nobr {{shift.end_time_formatted}}
              %td {{shift.duration_formatted}}
              %td {{slot.credit_value_formatted}}
              %td {{slot.position.name}}
              %td(title="{{slot.attendees_count}}/{{slot.max_people}}")
                %meter(value="{{slot.attendees_count}}" min="0" low="{{slot.min_people}}" max="{{slot.max_people || 1000}}" optimum="{{slot.max_people || slot.min_people * 2}}")
                  {{slot.attendees_count}}/{{slot.max_people}}
              %td
                %button.action.slot-join(ng-click="join(slot)" ng-hide="slot.max_people <= slot.attendees_count || alreadyIn(slot)") Join
                %button.action.slot-leave(ng-click="leave(slot)" ng-show="alreadyIn(slot)") Leave
