%h1
  = @involvement.name
  - if @involvement.person.display_name != @involvement.name
    (now known as #{@involvement.person.display_name})
%h2 involvement in #{link_to_record @involvement.event}

- @involvement.person.messages.undelivered.presence.try do |undelivered|
  .notifications
    .notice= link_to pluralize(undelivered.count, 'new message'), '#tab-messages'

.tab-container
  %ul
    %li.tab-title
      %a.tab-link(href='#tab-status') Status
    %li.tab-title
      %a.tab-link(href='#tab-schedule') Schedule
    %li.tab-title
      %a.tab-link(href='#tab-worklogs') Work Logs
    %li.tab-title
      %a.tab-link(href='#tab-assets') Assets
    %li.tab-title
      %a.tab-link(href='#tab-messages') Messages
    %li.tab-title
      %a.tab-link(href='#tab-onsite') On-Site Details
    - if @involvement.mentorships.any?
      %li.tab-title
        %a.tab-link(href='#tab-mentors') Mentors
    - if @involvement.mentors.any?
      %li.tab-title
        %a.tab-link(href='#tab-mentees') Mentees

  .tab-content#tab-status
    %dl.attributes[@involvement]
      %dt#label_name<= Involvement.human_attribute_name :name
      %dd#value_name< #{@involvement.name} (#{@involvement.person.full_name})
      - [:barcode, :on_site, :involvement_status, :personnel_status, :prior_years_rangered].each do |attr|
        %dt{:id => "label_#{attr}"}<= Involvement.human_attribute_name attr
        %dd{:id => "value_#{attr}"}<= @involvement.send attr
      %dt#label_positions< Positions
      %dd#value_positions<= @involvement.positions.to_sentence

  .tab-content#tab-schedule
    = render :partial => 'slots/list_for_involvement', :locals => {:involvement => @involvement}
    - if policy(@involvement).schedule? and @event.signup_open?
      %br
      = link_to 'Sign up for more', schedule_event_involvement_path(@event, @involvement)

  .tab-content#tab-worklogs
    = render :partial => 'work_logs/list_for_involvement', :locals => {:involvement => @involvement}

  .tab-content#tab-assets
    %h3 Authorizations
    - has = []
    - if @involvement.authorizations.none?
      None
      %br
    - else
      %ul
        - @involvement.authorizations.each do |auth|
          %li= link_to auth.human_type, auth
          - has << auth.type
    - Authorization.human_types.each do |type, name|
      - unless type.in? has
        - a = type.constantize.new(involvement_id: @involvement.id)
        - if policy(a).create?
          = link_to "Grant #{name}", new_event_authorization_path(@event, type: type, involvement_id: @involvement.id)
          %br
    %h3 Asset History
    = render :partial => 'asset_uses/use_list', :locals => {uses: @involvement.asset_uses, excludes: [:involvement]}

  .tab-content#tab-messages
    %dl.send-message.accordion
      %dt Send a message to #{@involvement.person}
      %dd= render 'messages/quick_send', people: @involvement.person
    %h3 Messages for #{@involvement.person}
    = render 'messages/for_person', person: @involvement.person

  .tab-content#tab-onsite
    %dl.attributes[@involvement]
      - Involvement::DETAIL_ATTRS.each do |attr|
        %dt{:id => "label_#{attr}"}<= Involvement.human_attribute_name attr
        %dd{:id => "value_#{attr}"}<= @involvement.send attr

  - if @involvement.mentorships.any?
    .tab-content#tab-mentors
      %table
        %tr
          %th Outcome
          %th Shift
          %th Mentor(s)
        - @involvement.mentorships.each do |m|
          %tr
            %td= link_to m.outcome, m
            %td
              - m.shift.try do |shift|
                - day = Date::ABBR_DAYNAMES[shift.start_time.wday]
                = day unless shift.name.start_with? day
                = link_to shift, m
            %td= m.mentors.to_sentence

  - if @involvement.mentors.any?
    .tab-content#tab-mentees
      %table
        %tr
          %th Outcome
          %th Mentee
          %th Shift
          %th Other Mentor(s)
        - @involvement.mentors.each do |mentor|
          - mentor.mentorship.tap do |mentorship|
            %tr
              %td= link_to mentorship.outcome, mentorship
              %td= link_to_record mentor.mentorship
              %td
                - mentorship.shift.try do |shift|
                  - day = Date::ABBR_DAYNAMES[shift.start_time.wday]
                  = day unless shift.name.start_with? day
                  = shift
              %td= mentorship.mentors.where('involvement_id != ?', @involvement.id).to_sentence

%p
= link_to "More details and other events for #{@involvement}", @involvement.person
