%h1
  = @involvement.name
  - if @involvement.person.display_name != @involvement.name
    (now known as #{@involvement.person.display_name})
%h2 involvement in #{link_to_record @involvement.event}

.tab-container
  %ul
    %li.tab-title
      %a.tab-link(href='#tab-status') Status
    %li.tab-title
      %a.tab-link(href='#tab-schedule') Schedule
    %li.tab-title
      %a.tab-link(href='#tab-worklogs') Work Logs
    %li.tab-title
      %a.tab-link(href='#tab-assets') Assets
    %li.tab-title
      %a.tab-link(href='#tab-onsite') On-Site Details

  .tab-content#tab-status
    %dl.attributes[@involvement]
      - [:name, :barcode, :on_site, :involvement_status, :personnel_status, :prior_years_rangered].each do |attr|
        %dt{:id => "label_#{attr}"}<= Involvement.human_attribute_name attr
        %dd{:id => "value_#{attr}"}<= @involvement.send attr
      %dt#label_positions< Positions
      %dd#value_positions<= @involvement.positions.to_sentence
      %dt#label_person< More details about this person
      %dd#value_person<= link_to_record @involvement.person

  .tab-content#tab-schedule
    = render :partial => 'slots/list_for_involvement', :locals => {:involvement => @involvement}
    - if can? :update, @involvement and @event.signup_open?
      %br
      = link_to 'Sign up for more', signup_event_involvement_path(@event, @involvement)

  .tab-content#tab-worklogs
    = render :partial => 'work_logs/list_for_involvement', :locals => {:involvement => @involvement}

  .tab-content#tab-assets
    = render :partial => 'asset_uses/use_list', :locals => {uses: @involvement.asset_uses, excludes: [:involvement]}

  .tab-content#tab-onsite
    %dl.attributes[@involvement]
      - Involvement::DETAIL_ATTRS.each do |attr|
        %dt{:id => "label_#{attr}"}<= Involvement.human_attribute_name attr
        %dd{:id => "value_#{attr}"}<= @involvement.send attr
