%h1
  Schedule for
  = link_to_record @involvement

%h2 By position
.collapse-container#position-slots{:data => {:collapse => ''}}
  - @slots.group_by(&:position).each do |position, slots|
    %h3.slot-header= position
    %table.slots
      %tr
        %th Shift
        %th Start
        %th End
        %th Hours
        %th Credits
        %th Min
        %th Max
        %th
      - slots.each do |s|
        - signed_up = s.id.in? @involvement.slot_ids
        - if signed_up
          - rowclass = 'signedup'
        - elsif s.full?
          - rowclass = 'full'
        - elsif s.in_need?
          - rowclass = 'inneed'
        - else
          - rowclass = 'available'
        %tr{:class => rowclass}
          %td= link_to_record s.shift
          %td= l s.shift.start_time
          %td= l s.shift.end_time
          %td= distance_of_time_hours_minutes s.shift.start_time, s.shift.end_time
          %td= s.credit_value_formatted
          %td
            - if s.min_people > 0
              = s.min_people
          %td
            - if s.max_people > 0
              = s.max_people
          - if signed_up
            %td= link_to 'Remove', leave_event_slot_path(s.event, s, :involvement_id => @involvement.id), :confirm => 'Are you sure?', :method => :post
          - elsif s.full?
            %td Slot full
          - else
            %td
              = link_to 'Sign up', join_event_slot_path(s.event, s, :involvement_id => @involvement.id), :method => :post
              - if s.in_need?
                (needs more people)

%h2 By shift
%table#shift-slots
  %tr
    %th Shift
    %th Start
    %th End
    %th Hours
    %th Credits
    %th Sign up
  - @slots.group_by(&:shift).each do |shift, slots|
    - signed_up = slots.map(&:id).to_set.intersection(@involvement.slot_ids).present?
    - full = !slots.find {|s| not s.full?}
    - rowclass = signed_up ? 'signedup' : (full ? 'full' : 'available')
    %tr{:class => rowclass}
      %td= link_to_record shift
      %td= l shift.start_time
      %td= l shift.end_time
      %td= distance_of_time_hours_minutes shift.start_time, shift.end_time
      -# TODO handle different credit values in one shift
      %td= slots.first.credit_value_formatted
      %td
        - slots.each do |s|
          - unless s == slots.first
            &nbsp;
          %nobr<
            - if signed_up
              = s.position
              - if s.id.in? @involvement.slot_ids
                = link_to '(remove)', leave_event_slot_path(s.event, s, :involvement_id => @involvement.id), :confirm => 'Are you sure?', :method => :post
            - elsif s.full?
              #{s.position} (full)
            - else
              = link_to s.position.name, join_event_slot_path(s.event, s, :involvement_id => @involvement.id), :method => :post
