- attendee_by_slot = @involvement.attendees.index_by &:slot_id
%h1
  Schedule for
  = link_to_record @involvement
  in
  = link_to_record @event

%table.schedule
  %tr
    %th Position
    %th Shift
    %th Start
    %th End
    %th Hours
    %th Credits
    %th Description
  - @involvement.slots.with_shift.each do |slot|
    -# TODO highlight conflicting shifts
    - shift = slot.shift
    %tr
      %td
        %nobr= link_to_record slot
      %td= link_to_record slot.shift
      %td
        %nobr= l shift.start_time, format: :short
      %td
        %nobr= l shift.end_time, format: :short
      %td= distance_of_time_hours_minutes shift.start_time, shift.end_time
      %td= slot.credit_value_formatted
      %td.text-attribute= shift.description

%h2 By position
.collapse-container#position-slots{:data => {:collapse => ''}}
  - @slots.group_by(&:position).sort_by(&:first).each do |position, slots|
    %h3.slot-header
      = position
      (#{slots.count {|s| not s.full?}} open slots)
    %table.slots
      %tr
        %th Shift
        %th Start
        %th End
        %th Hours
        %th Credits
        %th People
        %th
      - toggle = DateToggle.new
      - slots.each do |s|
        - toggle.check(s.shift.start_time)
        - rowclass = [ "day-#{toggle.state ? 'a' : 'b'}" ]
        - attendee = attendee_by_slot[s.id]
        - if attendee
          - rowclass << 'signedup'
        - elsif s.full?
          - rowclass << 'full'
        - elsif s.in_need?
          - rowclass << 'inneed'
        - else
          - rowclass << 'available'
        %tr{:class => rowclass}
          %td{:title => s.shift.description}
            - if s.shift.training
              = link_to_record s.shift.training
            - else
              = s.shift
          %td
            %nobr= l s.shift.start_time, format: :short
          %td
            %nobr= l s.shift.end_time, format: :short
          %td= distance_of_time_hours_minutes s.shift.start_time, s.shift.end_time
          %td= s.credit_value_formatted
          %td
            - num_people = s.involvements.count
            - max = s.max_people
            - min = s.min_people
            = slot_meter_tag s
            - if max > 0
              #{num_people}/#{max}
            - else
              = num_people
            - if s.in_need?
              %wbr
              %nobr (need #{min - num_people})
          %td.signup
            - if attendee
              = link_to 'Remove', event_slot_attendee_path(s.event, s, attendee), confirm: 'Are you sure?', method: :delete
            - elsif s.full?
              Slot full
            - else
              = link_to 'Sign up', event_attendees_path(s.event, slot_id: s.id, involvement_id: @involvement.id), method: :post

%h2 By day
%table#shift-slots
  %tr
    %th Shift
    %th Start
    %th End
    %th Hours
    %th Credits
    %th Sign up
  - toggle = DateToggle.new
  - @slots.group_by(&:shift).each do |shift, slots|
    - toggle.check(shift.start_time)
    - signed_up = slots.any? {|slot| slot.id.in? attendee_by_slot}
    - full = !slots.find {|s| not s.full?}
    - rowclass = [signed_up ? 'signedup' : (full ? 'full' : 'available')]
    - rowclass << "day-#{toggle.state ? 'a' : 'b'}"
    %tr{:class => rowclass}
      %td{:title => shift.description}
        - if shift.training
          = link_to_record shift.training
        - else
          = shift
      %td
        %nobr= l shift.start_time, format: :short
      %td
        %nobr= l shift.end_time, format: :short
      %td= distance_of_time_hours_minutes shift.start_time, shift.end_time
      -# TODO handle different credit values in one shift
      %td= slots.first.credit_value_formatted
      %td.signup
        - slots.each do |s|
          - unless s == slots.first
            %br
          %nobr
            - if signed_up
              = s.position
              - if attendee = attendee_by_slot[s.id]
                = link_to '(remove)', event_slot_attendee_path(s.event, s, attendee), confirm: 'Are you sure?', method: :delete
            - elsif s.full?
              #{s.position} (full)
            - else
              = link_to s.position.name, event_attendees_path(s.event, slot_id: s.id, involvement_id: @involvement.id), method: :post
            - if s.in_need?
              %nobr (need #{s.min_people - s.involvements.count} more)
