= semantic_form_for [@event, @asset.becomes(Asset)] do |f|
  = f.inputs do
    = f.input :type, as: :radio, collection: [Radio, Vehicle, Key, Asset]
    = f.input :name
    = f.input :designation, as: :radio, collection: @asset.possible_designations
    = f.input :description

  = f.actions do
    = f.action(:submit)
