= semantic_form_for [@event, @asset], as: :asset do |f|
  = f.inputs do
    - if @asset.new_record?
      = f.input :type, as: :radio, collection: %w[Radio Vehicle Key Asset]
    = f.input :name
    = f.input :designation, as: :radio, collection: @asset.possible_designations
    = f.input :description

  = f.actions do
    = f.action(:submit)
