%h1 #{@asset.type} #{@asset.name} in #{link_to_record @event}
%p
  %b Asset Type:
  = @asset.type
%p
  %b Designation:
  = @asset.designation
%p
  %b Description:
  = @asset.description
%p
  %b Uses:
  = render partial: 'asset_uses/use_list', locals: {uses: @asset.asset_uses, excludes: [:asset]}
