= semantic_form_for @art do |f|
  = f.inputs do
    = f.input :name
    = f.input :prerequisite
    = f.input :description

  = f.actions do
    = f.input :audit_comment, as: :audit
    = f.action(:submit)
