%h1 ART: #{@art}

%p
  %b Name:
  = @art.name
%p
  %b Prerequisite:
  = @art.prerequisite
%p
  %b Description:
  .text-attribute<= @art.description
%p
  %b Trainings:
  %table
    %tr
      %th Training
      %th Event
    - @art.trainings.joins(:training_season).order('shifts.start_time DESC').each do |training|
      %tr
        %td= link_to_record training
        %td= link_to_record training.training_season
