- content_for :main_action_list_items do
  %li= link_to "Shift template #{@shift_template}", @shift_template
  %li= link_to "Slot templates in #{@shift_template}", shift_template_slot_templates_path(@shift_template)
  - if can? :edit, :shift_templates
    %li= link_to "New slot in #{@shift_template}", new_shift_template_slot_template_path(@shift_template)
  = render 'record_actions'
