= semantic_form_for [@event, @authorization] do |f|
  = f.inputs do
    - if @authorization.new_record?
      = f.input :type, collection: Authorization.human_types.invert, allow_nil: false
    = f.input :involvement, collection: @event.involvements, required: true

  = f.actions do
    = f.action(:submit)
