- # render 'record_actions', :locals => {:record => r}
- record ||= subject_record
- unless record.blank? or record.new_record?
  - begin
    - policy = policy(record)
  - rescue Pundit::NotDefinedError
    - # let policy be nil
  %li= link_to_record record
  - if (policy and policy.edit?) or can? :edit, record
    %li
      = link_to_edit_record record do
        - "Edit #{record.to_title}"
  - if (policy and policy.delete?) or can? :delete, record
    %li= link_to "Delete #{record.to_title}", record, :confirm => 'Delete: are you sure?', :method => :delete
  - if (policy and policy.audit?) or can? :audit, record
    - begin
      - polymorphic_path(record, action: :changes).presence.try do |path|
        %li= link_to "Changes to #{record}", path
    - rescue NoMethodError # changes not implemented for this type
