%h1 Report: #{@report.name}
- if @report.event
  %p
    %b Event:
    = link_to_record @report.event
%p
  %b Generated at:
  = l @report.created_at
%p
  %b Number of results:
  = @report.num_results
%p
  %b Download:
  - [:csv].each do |format|
    = link_to format.to_s.upcase, report_path(@report, format: format), download: ''
%p
  %b Parameters:
  %ul.readable-parameters
    - (@report.readable_parameters || {}).each do |key, val|
      %li
        %strong.key #{key.to_s.titleize}:
        %span.value= val
%p
  %b Note:
  = @report.note

- if @report.report_object.is_a? String or @report.report_object.blank?
  Oops, there was an error loading the saved report.
- else
- report_template = @report.report_object.class.name.demodulize.underscore
- if lookup_context.template_exists?(report_template, 'reports', true)
  .report-inline
    = render report_template, partial: true
