!!!
%html
  %head
    %title= page_title
    = yield :assets
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag
    = csrf_meta_tags
  %body
    .menu_header
      %ul.menu#main_menu
        %li= link_to t('site_name'), main_app_routes.root_path
        = yield :main_menu
        %li= link_to t('module.schedule'), schedule_routes.root_path
        - if user_signed_in?
          %li= link_to 'Personal info', main_app_routes.edit_person_path(current_user.person)
          %li.account= link_to current_user.to_s, main_app_routes.edit_user_registration_path, :title => "My account"
          %li.session= link_to 'Sign out', main_app_routes.destroy_user_session_path, :method => :delete
        - else
          %li.account= link_to 'Create account', main_app_routes.new_user_registration_path
          %li.session= link_to 'Sign in', main_app_routes.new_user_session_path
      - if content_for? :section_menu
        %ul.menu#section_menu
          = yield :section_menu

    - if alert or notice
      .notifications
        - if alert
          .alert= alert
        - if notice
          .notice= notice

    .content= yield

  %address
    Is clicking the mouse pushing your buttons?  Kick it sideways to
    %a(href="mailto:#{t('support.email')}") #{t('support.name')} (#{t('support.email')})
