!!!
%html
  %head
    %title= page_title
    = yield :assets
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag
    = csrf_meta_tags
  %body
    .menu_header
      %ul.menu#main_menu
        %li= link_to t('site_name'), root_path
        = yield :main_menu
        %li= link_to 'Schedule', schedule_home_path
        %li= link_to 'Events', events_path
        - if can? :manage, Person
          %li= link_to Person.model_name.human.pluralize, people_path
        - if can? :manage, User
          %li= link_to User.model_name.human.pluralize, users_path
        - if can? :manage, Position
          %li= link_to Position.model_name.human.pluralize, positions_path
        - if can? :manage, ShiftTemplate
          %li= link_to ShiftTemplate.model_name.human.pluralize, shift_templates_path
        - if user_signed_in?
          - if current_user.person
            %li= link_to 'Personal info', edit_person_path(current_user.person)
          %li.account= link_to current_user.to_s, edit_user_registration_path, :title => "My account"
          %li.session= link_to 'Sign out', destroy_user_session_path, :method => :delete
        - else
          %li.account= link_to 'Create account', new_user_registration_path
          %li.session= link_to 'Sign in', new_user_session_path
      - if content_for? :section_menu
        %ul.menu#section_menu
          = yield :section_menu

    = render 'main_actions'
    = render 'layouts/main_action_list'

    #body-container
      - if alert or notice
        .notifications
          - if alert
            .alert= alert
          - if notice
            .notice= notice
      - elsif subject_record and subject_record.errors.present?
        .notifications
          .notice= subject_record.errors.full_messages.to_sentence

      .content= yield

    %address
      Is clicking the mouse pushing your buttons? Kick it sideways to
      %a(href="mailto:#{t('support.email')}") #{t('support.name')} (#{t('support.email')})
