- if policy(Person).search?
  .quick-search
    %h2.quick-search-header Search
    - event_exists = @event && @event.persisted?
    - search_target = event_exists ? search_event_involvements_path(@event) : search_people_path
    - placeholder = event_exists ? "Search in #{@event}" : 'Search for people'
    - box_class = 'quick-search-box ' + (@event ? 'involvements-search' : 'people-search')
    - data = event_exists ? {'event-id' => @event.to_param} : {}
    = form_tag search_target, method: 'get' do
      -# twitter-typeahead doesn't play nice with <input type=search>
      -# search_field_tag 'q', @query, placeholder: 'Name, barcode, email...', class: box_class
      = text_field_tag 'q', @query, placeholder: 'Name, barcode, email...', class: box_class, data: data
      %br
      - if event_exists
        = submit_tag "Find in #{@event}", formaction: search_event_involvements_path(@event)
      = submit_tag 'Find people', formaction: search_people_path
