- if @event && !@event.new_record?
  - provide :section_menu do
    %li.currentevent= link_to @event.name, event_path(@event)
    - if @event.is_a? TrainingSeason
      %li= link_to 'Trainings', event_trainings_path(@event)
    - else
      %li= link_to 'Shifts', event_shifts_path(@event)
    %li= link_to 'Slots', event_slots_path(@event)
    %li= link_to 'Work Logs', event_work_logs_path(@event)
    -if can? :manage, Involvement
      %li= link_to 'People involved', event_involvements_path(@event)
    - person_me.try do |person|
      - involvement_for_event_person(@event, person).try do |involvement|
        %li.currentevent= link_to 'My involvement', involvement
= render 'layouts/main_app'
